{{#supportPython2}}
#!/usr/bin/env python
{{/supportPython2}}
{{^supportPython2}}
#!/usr/bin/env python3
{{/supportPython2}}

from openapi_server.cached import CachedSpecification
from connexion.spec import Specification

Specification.__init__ = CachedSpecification.__init__;
Specification.from_file = CachedSpecification.from_file

import connexion
from openapi_server import encoder

def main():
    app = connexion.App(__name__, specification_dir='./openapi/')
    app.app.json_encoder = encoder.JSONEncoder
    app.add_api('openapi.yaml',
                arguments={'title': '{{appName}}'},
                pythonic_params=False)
    app.run(port={{serverPort}})


if __name__ == '__main__':
    main()
