ENDPOINT=http://endpoint:3030/modelCatalog-1.7.0
ENDPOINT_PASSWORD=admin
QUERIES_DIR=queries/
CONTEXT_DIR=contexts/
PREFIX=https://w3id.org/okn/i/mint/
GRAPH_BASE=http://endpoint.mint.isi.edu/modelCatalog-1.7.0/data/
AUTH_SERVER=https://auth.mint.mosorio.dev/auth/realms/development/protocol/openid-connect/token
AUTH_CLIENT_ID=model_catalog
ADMIN_PASSWORD=admin
