openapi: 3.0.1
info:
  description: This is MINT Model Catalog You can find out more about Model Catalog
    at [https://w3id.org/mint/modelCatalog/](https://w3id.org/mint/modelCatalog/)
  title: Model Catalog
  version: v1.0.0
externalDocs:
  description: Model Catalog
  url: https://w3id.org/mint/modelCatalog/
servers:
- url: https://api.models.mint.isi.edu/v1.0.0
- url: https://dev.api.models.mint.isi.edu/v1.0.0
- url: http://localhost:8080/v1.0.0
paths:
  /causaldiagrams:
    get:
      description: Gets a list of all CausalDiagram entities
      operationId: causaldiagrams_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CausalDiagram'
                type: array
          description: Successful response - returns an array of CausalDiagram entities.
      summary: List all CausalDiagram entities
      tags:
      - CausalDiagram
      x-openapi-router-controller: openapi_server.controllers.causal_diagram_controller
    post:
      description: Create a new instance of a CausalDiagram
      operationId: causaldiagrams_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CausalDiagram'
        description: A new CausalDiagramto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a CausalDiagram
      tags:
      - CausalDiagram
      x-openapi-router-controller: openapi_server.controllers.causal_diagram_controller
  /causaldiagrams/{id}:
    delete:
      description: Delete an existing CausalDiagram
      operationId: causaldiagrams_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a CausalDiagram
      tags:
      - CausalDiagram
      x-openapi-router-controller: openapi_server.controllers.causal_diagram_controller
    get:
      description: Gets the details of a single instance of a CausalDiagram
      operationId: causaldiagrams_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CausalDiagram'
          description: Gets the details of a single instance of  CausalDiagram
      summary: Get a CausalDiagram
      tags:
      - CausalDiagram
      x-openapi-router-controller: openapi_server.controllers.causal_diagram_controller
    put:
      description: Updates an existing CausalDiagram
      operationId: causaldiagrams_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CausalDiagram'
        description: An old CausalDiagramto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a CausalDiagram
      tags:
      - CausalDiagram
      x-openapi-router-controller: openapi_server.controllers.causal_diagram_controller
  /datasetspecifications:
    get:
      description: Gets a list of all DatasetSpecification entities
      operationId: datasetspecifications_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DatasetSpecification'
                type: array
          description: Successful response - returns an array of DatasetSpecification
            entities.
      summary: List all DatasetSpecification entities
      tags:
      - DatasetSpecification
      x-openapi-router-controller: openapi_server.controllers.dataset_specification_controller
    post:
      description: Create a new instance of a DatasetSpecification
      operationId: datasetspecifications_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetSpecification'
        description: A new DatasetSpecificationto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a DatasetSpecification
      tags:
      - DatasetSpecification
      x-openapi-router-controller: openapi_server.controllers.dataset_specification_controller
  /datasetspecifications/{id}:
    delete:
      description: Delete an existing DatasetSpecification
      operationId: datasetspecifications_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a DatasetSpecification
      tags:
      - DatasetSpecification
      x-openapi-router-controller: openapi_server.controllers.dataset_specification_controller
    get:
      description: Gets the details of a single instance of a DatasetSpecification
      operationId: datasetspecifications_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetSpecification'
          description: Gets the details of a single instance of  DatasetSpecification
      summary: Get a DatasetSpecification
      tags:
      - DatasetSpecification
      x-openapi-router-controller: openapi_server.controllers.dataset_specification_controller
    put:
      description: Updates an existing DatasetSpecification
      operationId: datasetspecifications_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetSpecification'
        description: An old DatasetSpecificationto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a DatasetSpecification
      tags:
      - DatasetSpecification
      x-openapi-router-controller: openapi_server.controllers.dataset_specification_controller
  /empiricalmodels:
    get:
      description: Gets a list of all EmpiricalModel entities
      operationId: empiricalmodels_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EmpiricalModel'
                type: array
          description: Successful response - returns an array of EmpiricalModel entities.
      summary: List all EmpiricalModel entities
      tags:
      - EmpiricalModel
      x-openapi-router-controller: openapi_server.controllers.empirical_model_controller
    post:
      description: Create a new instance of a EmpiricalModel
      operationId: empiricalmodels_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmpiricalModel'
        description: A new EmpiricalModelto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a EmpiricalModel
      tags:
      - EmpiricalModel
      x-openapi-router-controller: openapi_server.controllers.empirical_model_controller
  /empiricalmodels/{id}:
    delete:
      description: Delete an existing EmpiricalModel
      operationId: empiricalmodels_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a EmpiricalModel
      tags:
      - EmpiricalModel
      x-openapi-router-controller: openapi_server.controllers.empirical_model_controller
    get:
      description: Gets the details of a single instance of a EmpiricalModel
      operationId: empiricalmodels_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpiricalModel'
          description: Gets the details of a single instance of  EmpiricalModel
      summary: Get a EmpiricalModel
      tags:
      - EmpiricalModel
      x-openapi-router-controller: openapi_server.controllers.empirical_model_controller
    put:
      description: Updates an existing EmpiricalModel
      operationId: empiricalmodels_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmpiricalModel'
        description: An old EmpiricalModelto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a EmpiricalModel
      tags:
      - EmpiricalModel
      x-openapi-router-controller: openapi_server.controllers.empirical_model_controller
  /emulators:
    get:
      description: Gets a list of all Emulator entities
      operationId: emulators_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Emulator'
                type: array
          description: Successful response - returns an array of Emulator entities.
      summary: List all Emulator entities
      tags:
      - Emulator
      x-openapi-router-controller: openapi_server.controllers.emulator_controller
    post:
      description: Create a new instance of a Emulator
      operationId: emulators_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Emulator'
        description: A new Emulatorto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a Emulator
      tags:
      - Emulator
      x-openapi-router-controller: openapi_server.controllers.emulator_controller
  /emulators/{id}:
    delete:
      description: Delete an existing Emulator
      operationId: emulators_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a Emulator
      tags:
      - Emulator
      x-openapi-router-controller: openapi_server.controllers.emulator_controller
    get:
      description: Gets the details of a single instance of a Emulator
      operationId: emulators_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Emulator'
          description: Gets the details of a single instance of  Emulator
      summary: Get a Emulator
      tags:
      - Emulator
      x-openapi-router-controller: openapi_server.controllers.emulator_controller
    put:
      description: Updates an existing Emulator
      operationId: emulators_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Emulator'
        description: An old Emulatorto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a Emulator
      tags:
      - Emulator
      x-openapi-router-controller: openapi_server.controllers.emulator_controller
  /equations:
    get:
      description: Gets a list of all Equation entities
      operationId: equations_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Equation'
                type: array
          description: Successful response - returns an array of Equation entities.
      summary: List all Equation entities
      tags:
      - Equation
      x-openapi-router-controller: openapi_server.controllers.equation_controller
    post:
      description: Create a new instance of a Equation
      operationId: equations_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Equation'
        description: A new Equationto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a Equation
      tags:
      - Equation
      x-openapi-router-controller: openapi_server.controllers.equation_controller
  /equations/{id}:
    delete:
      description: Delete an existing Equation
      operationId: equations_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a Equation
      tags:
      - Equation
      x-openapi-router-controller: openapi_server.controllers.equation_controller
    get:
      description: Gets the details of a single instance of a Equation
      operationId: equations_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equation'
          description: Gets the details of a single instance of  Equation
      summary: Get a Equation
      tags:
      - Equation
      x-openapi-router-controller: openapi_server.controllers.equation_controller
    put:
      description: Updates an existing Equation
      operationId: equations_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Equation'
        description: An old Equationto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a Equation
      tags:
      - Equation
      x-openapi-router-controller: openapi_server.controllers.equation_controller
  /geocoordinatess:
    get:
      description: Gets a list of all GeoCoordinates entities
      operationId: geocoordinatess_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GeoCoordinates'
                type: array
          description: Successful response - returns an array of GeoCoordinates entities.
      summary: List all GeoCoordinates entities
      tags:
      - GeoCoordinates
      x-openapi-router-controller: openapi_server.controllers.geo_coordinates_controller
    post:
      description: Create a new instance of a GeoCoordinates
      operationId: geocoordinatess_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeoCoordinates'
        description: A new GeoCoordinatesto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a GeoCoordinates
      tags:
      - GeoCoordinates
      x-openapi-router-controller: openapi_server.controllers.geo_coordinates_controller
  /geocoordinatess/{id}:
    delete:
      description: Delete an existing GeoCoordinates
      operationId: geocoordinatess_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a GeoCoordinates
      tags:
      - GeoCoordinates
      x-openapi-router-controller: openapi_server.controllers.geo_coordinates_controller
    get:
      description: Gets the details of a single instance of a GeoCoordinates
      operationId: geocoordinatess_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoCoordinates'
          description: Gets the details of a single instance of  GeoCoordinates
      summary: Get a GeoCoordinates
      tags:
      - GeoCoordinates
      x-openapi-router-controller: openapi_server.controllers.geo_coordinates_controller
    put:
      description: Updates an existing GeoCoordinates
      operationId: geocoordinatess_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeoCoordinates'
        description: An old GeoCoordinatesto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a GeoCoordinates
      tags:
      - GeoCoordinates
      x-openapi-router-controller: openapi_server.controllers.geo_coordinates_controller
  /geoshapes:
    get:
      description: Gets a list of all GeoShape entities
      operationId: geoshapes_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GeoShape'
                type: array
          description: Successful response - returns an array of GeoShape entities.
      summary: List all GeoShape entities
      tags:
      - GeoShape
      x-openapi-router-controller: openapi_server.controllers.geo_shape_controller
    post:
      description: Create a new instance of a GeoShape
      operationId: geoshapes_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeoShape'
        description: A new GeoShapeto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a GeoShape
      tags:
      - GeoShape
      x-openapi-router-controller: openapi_server.controllers.geo_shape_controller
  /geoshapes/{id}:
    delete:
      description: Delete an existing GeoShape
      operationId: geoshapes_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a GeoShape
      tags:
      - GeoShape
      x-openapi-router-controller: openapi_server.controllers.geo_shape_controller
    get:
      description: Gets the details of a single instance of a GeoShape
      operationId: geoshapes_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoShape'
          description: Gets the details of a single instance of  GeoShape
      summary: Get a GeoShape
      tags:
      - GeoShape
      x-openapi-router-controller: openapi_server.controllers.geo_shape_controller
    put:
      description: Updates an existing GeoShape
      operationId: geoshapes_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeoShape'
        description: An old GeoShapeto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a GeoShape
      tags:
      - GeoShape
      x-openapi-router-controller: openapi_server.controllers.geo_shape_controller
  /grids:
    get:
      description: Gets a list of all Grid entities
      operationId: grids_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Grid'
                type: array
          description: Successful response - returns an array of Grid entities.
      summary: List all Grid entities
      tags:
      - Grid
      x-openapi-router-controller: openapi_server.controllers.grid_controller
    post:
      description: Create a new instance of a Grid
      operationId: grids_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Grid'
        description: A new Gridto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a Grid
      tags:
      - Grid
      x-openapi-router-controller: openapi_server.controllers.grid_controller
  /grids/{id}:
    delete:
      description: Delete an existing Grid
      operationId: grids_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a Grid
      tags:
      - Grid
      x-openapi-router-controller: openapi_server.controllers.grid_controller
    get:
      description: Gets the details of a single instance of a Grid
      operationId: grids_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grid'
          description: Gets the details of a single instance of  Grid
      summary: Get a Grid
      tags:
      - Grid
      x-openapi-router-controller: openapi_server.controllers.grid_controller
    put:
      description: Updates an existing Grid
      operationId: grids_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Grid'
        description: An old Gridto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a Grid
      tags:
      - Grid
      x-openapi-router-controller: openapi_server.controllers.grid_controller
  /hybridmodels:
    get:
      description: Gets a list of all HybridModel entities
      operationId: hybridmodels_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HybridModel'
                type: array
          description: Successful response - returns an array of HybridModel entities.
      summary: List all HybridModel entities
      tags:
      - HybridModel
      x-openapi-router-controller: openapi_server.controllers.hybrid_model_controller
    post:
      description: Create a new instance of a HybridModel
      operationId: hybridmodels_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HybridModel'
        description: A new HybridModelto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a HybridModel
      tags:
      - HybridModel
      x-openapi-router-controller: openapi_server.controllers.hybrid_model_controller
  /hybridmodels/{id}:
    delete:
      description: Delete an existing HybridModel
      operationId: hybridmodels_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a HybridModel
      tags:
      - HybridModel
      x-openapi-router-controller: openapi_server.controllers.hybrid_model_controller
    get:
      description: Gets the details of a single instance of a HybridModel
      operationId: hybridmodels_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridModel'
          description: Gets the details of a single instance of  HybridModel
      summary: Get a HybridModel
      tags:
      - HybridModel
      x-openapi-router-controller: openapi_server.controllers.hybrid_model_controller
    put:
      description: Updates an existing HybridModel
      operationId: hybridmodels_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HybridModel'
        description: An old HybridModelto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a HybridModel
      tags:
      - HybridModel
      x-openapi-router-controller: openapi_server.controllers.hybrid_model_controller
  /icasavariables:
    get:
      description: Gets a list of all ICASAVariable entities
      operationId: icasavariables_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ICASAVariable'
                type: array
          description: Successful response - returns an array of ICASAVariable entities.
      summary: List all ICASAVariable entities
      tags:
      - ICASAVariable
      x-openapi-router-controller: openapi_server.controllers.icasa_variable_controller
    post:
      description: Create a new instance of a ICASAVariable
      operationId: icasavariables_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ICASAVariable'
        description: A new ICASAVariableto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a ICASAVariable
      tags:
      - ICASAVariable
      x-openapi-router-controller: openapi_server.controllers.icasa_variable_controller
  /icasavariables/{id}:
    delete:
      description: Delete an existing ICASAVariable
      operationId: icasavariables_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a ICASAVariable
      tags:
      - ICASAVariable
      x-openapi-router-controller: openapi_server.controllers.icasa_variable_controller
    get:
      description: Gets the details of a single instance of a ICASAVariable
      operationId: icasavariables_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICASAVariable'
          description: Gets the details of a single instance of  ICASAVariable
      summary: Get a ICASAVariable
      tags:
      - ICASAVariable
      x-openapi-router-controller: openapi_server.controllers.icasa_variable_controller
    put:
      description: Updates an existing ICASAVariable
      operationId: icasavariables_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ICASAVariable'
        description: An old ICASAVariableto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a ICASAVariable
      tags:
      - ICASAVariable
      x-openapi-router-controller: openapi_server.controllers.icasa_variable_controller
  /images:
    get:
      description: Gets a list of all Image entities
      operationId: images_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Image'
                type: array
          description: Successful response - returns an array of Image entities.
      summary: List all Image entities
      tags:
      - Image
      x-openapi-router-controller: openapi_server.controllers.image_controller
    post:
      description: Create a new instance of a Image
      operationId: images_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Image'
        description: A new Imageto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a Image
      tags:
      - Image
      x-openapi-router-controller: openapi_server.controllers.image_controller
  /images/{id}:
    delete:
      description: Delete an existing Image
      operationId: images_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a Image
      tags:
      - Image
      x-openapi-router-controller: openapi_server.controllers.image_controller
    get:
      description: Gets the details of a single instance of a Image
      operationId: images_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
          description: Gets the details of a single instance of  Image
      summary: Get a Image
      tags:
      - Image
      x-openapi-router-controller: openapi_server.controllers.image_controller
    put:
      description: Updates an existing Image
      operationId: images_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Image'
        description: An old Imageto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a Image
      tags:
      - Image
      x-openapi-router-controller: openapi_server.controllers.image_controller
  /modelconfigurations:
    get:
      description: Gets a list of all ModelConfiguration entities
      operationId: modelconfigurations_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ModelConfiguration'
                type: array
          description: Successful response - returns an array of ModelConfiguration
            entities.
      summary: List all ModelConfiguration entities
      tags:
      - ModelConfiguration
      x-openapi-router-controller: openapi_server.controllers.model_configuration_controller
    post:
      description: Create a new instance of a ModelConfiguration
      operationId: modelconfigurations_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelConfiguration'
        description: A new ModelConfigurationto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a ModelConfiguration
      tags:
      - ModelConfiguration
      x-openapi-router-controller: openapi_server.controllers.model_configuration_controller
  /modelconfigurations/{id}:
    delete:
      description: Delete an existing ModelConfiguration
      operationId: modelconfigurations_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a ModelConfiguration
      tags:
      - ModelConfiguration
      x-openapi-router-controller: openapi_server.controllers.model_configuration_controller
    get:
      description: Gets the details of a single instance of a ModelConfiguration
      operationId: modelconfigurations_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelConfiguration'
          description: Gets the details of a single instance of  ModelConfiguration
      summary: Get a ModelConfiguration
      tags:
      - ModelConfiguration
      x-openapi-router-controller: openapi_server.controllers.model_configuration_controller
    put:
      description: Updates an existing ModelConfiguration
      operationId: modelconfigurations_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelConfiguration'
        description: An old ModelConfigurationto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a ModelConfiguration
      tags:
      - ModelConfiguration
      x-openapi-router-controller: openapi_server.controllers.model_configuration_controller
  /models:
    get:
      description: Gets a list of all Model entities
      operationId: models_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Model'
                type: array
          description: Successful response - returns an array of Model entities.
      summary: List all Model entities
      tags:
      - Model
      x-openapi-router-controller: openapi_server.controllers.model_controller
    post:
      description: Create a new instance of a Model
      operationId: models_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model'
        description: A new Modelto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a Model
      tags:
      - Model
      x-openapi-router-controller: openapi_server.controllers.model_controller
  /models/{id}:
    delete:
      description: Delete an existing Model
      operationId: models_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a Model
      tags:
      - Model
      x-openapi-router-controller: openapi_server.controllers.model_controller
    get:
      description: Gets the details of a single instance of a Model
      operationId: models_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
          description: Gets the details of a single instance of  Model
      summary: Get a Model
      tags:
      - Model
      x-openapi-router-controller: openapi_server.controllers.model_controller
    put:
      description: Updates an existing Model
      operationId: models_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model'
        description: An old Modelto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a Model
      tags:
      - Model
      x-openapi-router-controller: openapi_server.controllers.model_controller
  /organizations:
    get:
      description: Gets a list of all Organization entities
      operationId: organizations_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Organization'
                type: array
          description: Successful response - returns an array of Organization entities.
      summary: List all Organization entities
      tags:
      - Organization
      x-openapi-router-controller: openapi_server.controllers.organization_controller
    post:
      description: Create a new instance of a Organization
      operationId: organizations_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
        description: A new Organizationto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a Organization
      tags:
      - Organization
      x-openapi-router-controller: openapi_server.controllers.organization_controller
  /organizations/{id}:
    delete:
      description: Delete an existing Organization
      operationId: organizations_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a Organization
      tags:
      - Organization
      x-openapi-router-controller: openapi_server.controllers.organization_controller
    get:
      description: Gets the details of a single instance of a Organization
      operationId: organizations_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: Gets the details of a single instance of  Organization
      summary: Get a Organization
      tags:
      - Organization
      x-openapi-router-controller: openapi_server.controllers.organization_controller
    put:
      description: Updates an existing Organization
      operationId: organizations_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
        description: An old Organizationto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a Organization
      tags:
      - Organization
      x-openapi-router-controller: openapi_server.controllers.organization_controller
  /parameters:
    get:
      description: Gets a list of all Parameter entities
      operationId: parameters_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Parameter'
                type: array
          description: Successful response - returns an array of Parameter entities.
      summary: List all Parameter entities
      tags:
      - Parameter
      x-openapi-router-controller: openapi_server.controllers.parameter_controller
    post:
      description: Create a new instance of a Parameter
      operationId: parameters_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Parameter'
        description: A new Parameterto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a Parameter
      tags:
      - Parameter
      x-openapi-router-controller: openapi_server.controllers.parameter_controller
  /parameters/{id}:
    delete:
      description: Delete an existing Parameter
      operationId: parameters_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a Parameter
      tags:
      - Parameter
      x-openapi-router-controller: openapi_server.controllers.parameter_controller
    get:
      description: Gets the details of a single instance of a Parameter
      operationId: parameters_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Parameter'
          description: Gets the details of a single instance of  Parameter
      summary: Get a Parameter
      tags:
      - Parameter
      x-openapi-router-controller: openapi_server.controllers.parameter_controller
    put:
      description: Updates an existing Parameter
      operationId: parameters_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Parameter'
        description: An old Parameterto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a Parameter
      tags:
      - Parameter
      x-openapi-router-controller: openapi_server.controllers.parameter_controller
  /persons:
    get:
      description: Gets a list of all Person entities
      operationId: persons_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Person'
                type: array
          description: Successful response - returns an array of Person entities.
      summary: List all Person entities
      tags:
      - Person
      x-openapi-router-controller: openapi_server.controllers.person_controller
    post:
      description: Create a new instance of a Person
      operationId: persons_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Person'
        description: A new Personto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a Person
      tags:
      - Person
      x-openapi-router-controller: openapi_server.controllers.person_controller
  /persons/{id}:
    delete:
      description: Delete an existing Person
      operationId: persons_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a Person
      tags:
      - Person
      x-openapi-router-controller: openapi_server.controllers.person_controller
    get:
      description: Gets the details of a single instance of a Person
      operationId: persons_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
          description: Gets the details of a single instance of  Person
      summary: Get a Person
      tags:
      - Person
      x-openapi-router-controller: openapi_server.controllers.person_controller
    put:
      description: Updates an existing Person
      operationId: persons_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Person'
        description: An old Personto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a Person
      tags:
      - Person
      x-openapi-router-controller: openapi_server.controllers.person_controller
  /pointbasedgrids:
    get:
      description: Gets a list of all PointBasedGrid entities
      operationId: pointbasedgrids_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PointBasedGrid'
                type: array
          description: Successful response - returns an array of PointBasedGrid entities.
      summary: List all PointBasedGrid entities
      tags:
      - PointBasedGrid
      x-openapi-router-controller: openapi_server.controllers.point_based_grid_controller
    post:
      description: Create a new instance of a PointBasedGrid
      operationId: pointbasedgrids_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PointBasedGrid'
        description: A new PointBasedGridto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a PointBasedGrid
      tags:
      - PointBasedGrid
      x-openapi-router-controller: openapi_server.controllers.point_based_grid_controller
  /pointbasedgrids/{id}:
    delete:
      description: Delete an existing PointBasedGrid
      operationId: pointbasedgrids_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a PointBasedGrid
      tags:
      - PointBasedGrid
      x-openapi-router-controller: openapi_server.controllers.point_based_grid_controller
    get:
      description: Gets the details of a single instance of a PointBasedGrid
      operationId: pointbasedgrids_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointBasedGrid'
          description: Gets the details of a single instance of  PointBasedGrid
      summary: Get a PointBasedGrid
      tags:
      - PointBasedGrid
      x-openapi-router-controller: openapi_server.controllers.point_based_grid_controller
    put:
      description: Updates an existing PointBasedGrid
      operationId: pointbasedgrids_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PointBasedGrid'
        description: An old PointBasedGridto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a PointBasedGrid
      tags:
      - PointBasedGrid
      x-openapi-router-controller: openapi_server.controllers.point_based_grid_controller
  /processs:
    get:
      description: Gets a list of all Process entities
      operationId: processs_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Process'
                type: array
          description: Successful response - returns an array of Process entities.
      summary: List all Process entities
      tags:
      - Process
      x-openapi-router-controller: openapi_server.controllers.process_controller
    post:
      description: Create a new instance of a Process
      operationId: processs_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Process'
        description: A new Processto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a Process
      tags:
      - Process
      x-openapi-router-controller: openapi_server.controllers.process_controller
  /processs/{id}:
    delete:
      description: Delete an existing Process
      operationId: processs_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a Process
      tags:
      - Process
      x-openapi-router-controller: openapi_server.controllers.process_controller
    get:
      description: Gets the details of a single instance of a Process
      operationId: processs_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
          description: Gets the details of a single instance of  Process
      summary: Get a Process
      tags:
      - Process
      x-openapi-router-controller: openapi_server.controllers.process_controller
    put:
      description: Updates an existing Process
      operationId: processs_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Process'
        description: An old Processto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a Process
      tags:
      - Process
      x-openapi-router-controller: openapi_server.controllers.process_controller
  /regions:
    get:
      description: Gets a list of all Region entities
      operationId: regions_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Region'
                type: array
          description: Successful response - returns an array of Region entities.
      summary: List all Region entities
      tags:
      - Region
      x-openapi-router-controller: openapi_server.controllers.region_controller
    post:
      description: Create a new instance of a Region
      operationId: regions_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Region'
        description: A new Regionto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a Region
      tags:
      - Region
      x-openapi-router-controller: openapi_server.controllers.region_controller
  /regions/{id}:
    delete:
      description: Delete an existing Region
      operationId: regions_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a Region
      tags:
      - Region
      x-openapi-router-controller: openapi_server.controllers.region_controller
    get:
      description: Gets the details of a single instance of a Region
      operationId: regions_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Region'
          description: Gets the details of a single instance of  Region
      summary: Get a Region
      tags:
      - Region
      x-openapi-router-controller: openapi_server.controllers.region_controller
    put:
      description: Updates an existing Region
      operationId: regions_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Region'
        description: An old Regionto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a Region
      tags:
      - Region
      x-openapi-router-controller: openapi_server.controllers.region_controller
  /sampleexecutions:
    get:
      description: Gets a list of all SampleExecution entities
      operationId: sampleexecutions_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SampleExecution'
                type: array
          description: Successful response - returns an array of SampleExecution entities.
      summary: List all SampleExecution entities
      tags:
      - SampleExecution
      x-openapi-router-controller: openapi_server.controllers.sample_execution_controller
    post:
      description: Create a new instance of a SampleExecution
      operationId: sampleexecutions_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SampleExecution'
        description: A new SampleExecutionto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a SampleExecution
      tags:
      - SampleExecution
      x-openapi-router-controller: openapi_server.controllers.sample_execution_controller
  /sampleexecutions/{id}:
    delete:
      description: Delete an existing SampleExecution
      operationId: sampleexecutions_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a SampleExecution
      tags:
      - SampleExecution
      x-openapi-router-controller: openapi_server.controllers.sample_execution_controller
    get:
      description: Gets the details of a single instance of a SampleExecution
      operationId: sampleexecutions_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SampleExecution'
          description: Gets the details of a single instance of  SampleExecution
      summary: Get a SampleExecution
      tags:
      - SampleExecution
      x-openapi-router-controller: openapi_server.controllers.sample_execution_controller
    put:
      description: Updates an existing SampleExecution
      operationId: sampleexecutions_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SampleExecution'
        description: An old SampleExecutionto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a SampleExecution
      tags:
      - SampleExecution
      x-openapi-router-controller: openapi_server.controllers.sample_execution_controller
  /sampleresources:
    get:
      description: Gets a list of all SampleResource entities
      operationId: sampleresources_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SampleResource'
                type: array
          description: Successful response - returns an array of SampleResource entities.
      summary: List all SampleResource entities
      tags:
      - SampleResource
      x-openapi-router-controller: openapi_server.controllers.sample_resource_controller
    post:
      description: Create a new instance of a SampleResource
      operationId: sampleresources_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SampleResource'
        description: A new SampleResourceto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a SampleResource
      tags:
      - SampleResource
      x-openapi-router-controller: openapi_server.controllers.sample_resource_controller
  /sampleresources/{id}:
    delete:
      description: Delete an existing SampleResource
      operationId: sampleresources_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a SampleResource
      tags:
      - SampleResource
      x-openapi-router-controller: openapi_server.controllers.sample_resource_controller
    get:
      description: Gets the details of a single instance of a SampleResource
      operationId: sampleresources_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SampleResource'
          description: Gets the details of a single instance of  SampleResource
      summary: Get a SampleResource
      tags:
      - SampleResource
      x-openapi-router-controller: openapi_server.controllers.sample_resource_controller
    put:
      description: Updates an existing SampleResource
      operationId: sampleresources_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SampleResource'
        description: An old SampleResourceto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a SampleResource
      tags:
      - SampleResource
      x-openapi-router-controller: openapi_server.controllers.sample_resource_controller
  /softwareconfigurations:
    get:
      description: Gets a list of all SoftwareConfiguration entities
      operationId: softwareconfigurations_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SoftwareConfiguration'
                type: array
          description: Successful response - returns an array of SoftwareConfiguration
            entities.
      summary: List all SoftwareConfiguration entities
      tags:
      - SoftwareConfiguration
      x-openapi-router-controller: openapi_server.controllers.software_configuration_controller
    post:
      description: Create a new instance of a SoftwareConfiguration
      operationId: softwareconfigurations_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SoftwareConfiguration'
        description: A new SoftwareConfigurationto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a SoftwareConfiguration
      tags:
      - SoftwareConfiguration
      x-openapi-router-controller: openapi_server.controllers.software_configuration_controller
  /softwareconfigurations/{id}:
    delete:
      description: Delete an existing SoftwareConfiguration
      operationId: softwareconfigurations_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a SoftwareConfiguration
      tags:
      - SoftwareConfiguration
      x-openapi-router-controller: openapi_server.controllers.software_configuration_controller
    get:
      description: Gets the details of a single instance of a SoftwareConfiguration
      operationId: softwareconfigurations_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftwareConfiguration'
          description: Gets the details of a single instance of  SoftwareConfiguration
      summary: Get a SoftwareConfiguration
      tags:
      - SoftwareConfiguration
      x-openapi-router-controller: openapi_server.controllers.software_configuration_controller
    put:
      description: Updates an existing SoftwareConfiguration
      operationId: softwareconfigurations_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SoftwareConfiguration'
        description: An old SoftwareConfigurationto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a SoftwareConfiguration
      tags:
      - SoftwareConfiguration
      x-openapi-router-controller: openapi_server.controllers.software_configuration_controller
  /softwareimages:
    get:
      description: Gets a list of all SoftwareImage entities
      operationId: softwareimages_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SoftwareImage'
                type: array
          description: Successful response - returns an array of SoftwareImage entities.
      summary: List all SoftwareImage entities
      tags:
      - SoftwareImage
      x-openapi-router-controller: openapi_server.controllers.software_image_controller
    post:
      description: Create a new instance of a SoftwareImage
      operationId: softwareimages_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SoftwareImage'
        description: A new SoftwareImageto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a SoftwareImage
      tags:
      - SoftwareImage
      x-openapi-router-controller: openapi_server.controllers.software_image_controller
  /softwareimages/{id}:
    delete:
      description: Delete an existing SoftwareImage
      operationId: softwareimages_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a SoftwareImage
      tags:
      - SoftwareImage
      x-openapi-router-controller: openapi_server.controllers.software_image_controller
    get:
      description: Gets the details of a single instance of a SoftwareImage
      operationId: softwareimages_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftwareImage'
          description: Gets the details of a single instance of  SoftwareImage
      summary: Get a SoftwareImage
      tags:
      - SoftwareImage
      x-openapi-router-controller: openapi_server.controllers.software_image_controller
    put:
      description: Updates an existing SoftwareImage
      operationId: softwareimages_id_put
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SoftwareImage'
        description: An old SoftwareImageto be updated
      responses:
        200:
          description: Updated
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Update a SoftwareImage
      tags:
      - SoftwareImage
      x-openapi-router-controller: openapi_server.controllers.software_image_controller
  /softwares:
    get:
      description: Gets a list of all Software entities
      operationId: softwares_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Software'
                type: array
          description: Successful response - returns an array of Software entities.
      summary: List all Software entities
      tags:
      - Software
      x-openapi-router-controller: openapi_server.controllers.software_controller
    post:
      description: Create a new instance of a Software
      operationId: softwares_post
      parameters:
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Software'
        description: A new Softwareto be created
      responses:
        201:
          description: Created
      security:
      - BearerAuth: []
      summary: Create a Software
      tags:
      - Software
      x-openapi-router-controller: openapi_server.controllers.software_controller
  /softwares/{id}:
    delete:
      description: Delete an existing Software
      operationId: softwares_id_delete
      parameters:
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: user
        required: false
        schema:
          type: string
        style: simple
      responses:
        202:
          description: Deleted
        404:
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete a Software
      tags:
      - Software
      x-openapi-router-controller: openapi_server.controllers.software_controller
    get:
      description: Gets the details of a single instance of a Software
      operationId: softwares_id_get
      parameters:
      - description: Username to query
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
[...]
